In [15]:
movies = ['Pihu', 'Harry Potter', 'Kerala story','Wednesday','Dark Knight','Pathan','Fast Five','Titanic','Bahubali','Anabella']
print(len(movies))

10

In [16]:
#For loop

for title in movies:
    print(title)

Pihu
Harry Potter
Kerala story
Wednesday
Dark Knight
Pathan
Fast Five
Titanic
Bahubali
Anabella

In [17]:
for title in movies:
    print(f'{title:20} {len(title)} chars')

Pihu                 4 chars
Harry Potter         12 chars
Kerala story         12 chars
Wednesday            9 chars
Dark Knight          11 chars
Pathan               6 chars
Fast Five            9 chars
Titanic              7 chars
Bahubali             8 chars
Anabella             8 chars

In [18]:
for title in movies:
    if('a' in title):
        print(title)

Harry Potter
Kerala story
Wednesday
Dark Knight
Pathan
Fast Five
Titanic
Bahubali
Anabella

In [19]:
for title in movies:
    if('a' in title or 'e' in title):
        print(title)

Harry Potter
Kerala story
Wednesday
Dark Knight
Pathan
Fast Five
Titanic
Bahubali
Anabella

In [20]:
#nested loops
books = [
    ['The India Story','Bimal Jalal',10],
    ['A place called home','Preeti shenoy',9],
    ['Lal salam','Smriti Irani',8],
    ['Queen of fire','Devika Rangachari',10],
    ['The maverick effect','Harish Mehta',10],
    ['Monsoon','Sahitya Akademi',9],
    ['Tomb sand','Geetenjali shree',10],
    ['Fearless Governance','Dr.Kiran bedi',9],
    ['A nation to protect','Priyam Gandhi',9],
    ['Unfinished','Priyanka chopra Jonas',10],
]
print(len(books))

10

In [21]:
for book in books:
    for field in book:
        print(field)
    print()

The India Story
Bimal Jalal
10

A place called home
Preeti shenoy
9

Lal salam
Smriti Irani
8

Queen of fire
Devika Rangachari
10

The maverick effect
Harish Mehta
10

Monsoon
Sahitya Akademi
9

Tomb sand
Geetenjali shree
10

Fearless Governance
Dr.Kiran bedi
9

A nation to protect
Priyam Gandhi
9

Unfinished
Priyanka chopra Jonas
10

In [22]:
for book in books:
    print(f'title: {book[0]}')
    print(f'author: {book[1]}')
    print(f'rating: {book[2]}')
    print()

title: The India Story
author: Bimal Jalal
rating: 10

title: A place called home
author: Preeti shenoy
rating: 9

title: Lal salam
author: Smriti Irani
rating: 8

title: Queen of fire
author: Devika Rangachari
rating: 10

title: The maverick effect
author: Harish Mehta
rating: 10

title: Monsoon
author: Sahitya Akademi
rating: 9

title: Tomb sand
author: Geetenjali shree
rating: 10

title: Fearless Governance
author: Dr.Kiran bedi
rating: 9

title: A nation to protect
author: Priyam Gandhi
rating: 9

title: Unfinished
author: Priyanka chopra Jonas
rating: 10

In [23]:
for book in books:
    print(f'title: {book[0]}')

title: The India Story
title: A place called home
title: Lal salam
title: Queen of fire
title: The maverick effect
title: Monsoon
title: Tomb sand
title: Fearless Governance
title: A nation to protect
title: Unfinished

In [3]:
prices = [239,530,103,600,100,400,None,400,99]

for price in prices:
    if price is None:
        break
    print(price)

239
530
103
600
100
400

In [6]:
data = [250, None, 949, 199, None, 299, None, 100]
for price in data:
    if (price is None):
        continue
    price(price)

TypeError: 'int' object is not callable

In [4]:
names =  [ 'Praveen' , 'Vaishnavi' , 'Golu' , 'Shivam' , 'Shambhavi']

for idx, name in enumerate(names) :
    print(idx, name)

0 Praveen
1 Vaishnavi
2 Golu
3 Shivam
4 Shambhavi

In [8]:
grocery = ['breadðŸž','milkðŸ¥›','butterðŸ§ˆ']
price = ['20','60','100']
qtys = [2, 1, 2]

for g, p, q in zip(grocery, price, qtys):
    print(f'{g:10} {p:5} {q:5} {p*q:5}')

breadðŸž     20        2 2020
milkðŸ¥›      60        1 60
butterðŸ§ˆ    100       2 100100

In [13]:
num = 50
for i in range(2, num):
    if num % i == 0:
        print(i)

2
5
10
25

In [15]:
num = 17
for i in range(2, num):
    if num % i == 0:
        print(f'{num} => not a prime')
        break
    else:
        print('prime')

prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime

In [18]:
num = 18
for i in range(2, num):
    if num % i == 0:
        print(f'{num} => not a prime')
        break
        print('prime')

18 => not a prime

In [19]:
num = 11
for i in range(2, num):
    if num % i == 0:
        print(f'{num} => not a prime')
        break
       # print(f'{num}' % {i} = {num%i}')
    else:
        print(f'{num} => prime')

11 => prime
11 => prime
11 => prime
11 => prime
11 => prime
11 => prime
11 => prime
11 => prime
11 => prime

In [22]:
num =123456
rev = 0
while num > 0:
    last_digit = num % 10 #remainder
    rev = rev * 10 + last_digit
    print(f'{num:10} {last_digit :5} {rev:10}')
    num = num // 10 # quotient
    print(rev)

    123456     6          6
6
     12345     5         65
65
      1234     4        654
654
       123     3       6543
6543
        12     2      65432
65432
         1     1     654321
654321

In [23]:
num =123456
rev = 0
while num > 0:
    last_digit = num % 10 #remainder
    rev = rev * 10 + last_digit
    num = num // 10 # quotient
    print(rev)

6
65
654
6543
65432
654321

In [25]:
username = 'admin'
password = 'admin123'
while True:
    u = input('username:')
    p = input('pasword :')
    if u == username and p == password:
        print('logged in')
        break
    else:
        print('invalid credentials')
        continue

logged in